body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}


.header {
    text-align: center;
    padding: 40px 20px;
    background: #1e293b;
}

.header h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.map-image {
    max-width: 100%;
    height: auto;
    border: 3px solid #334155;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}


.footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    color: #94a3b8;
}